.medication-list {
    &__item {
      background-color: #f4f4f4;
      border-radius: 8px;
      padding: 10px;
      margin-bottom: 10px;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    &__link {
      color: #333;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      &:hover {
        color: #000;
      }
    }
  
    &__name {
      font-weight: bold;
    }
  
    &__count {
      color: #666;
    }
  }