.medication-list {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__items {
    list-style: none;
    padding: 0;
    width: 100%;
  }

  &__add-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}