.custom-editor {
  border: 1px solid #ccc;
  border-radius: 8px;

  .ql-editor {
      min-height: 150px;
      margin-bottom: 80px;
  }

  .ql-toolbar {
      margin-top: 40px;
      border: 1px solid #ccc;
  }

  .ql-container {
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      border: 1px solid #ccc;
  }

  &:hover {
      border-color: #000;
  }

  &.error {
      border-color: #f44336;

      &:focus-within {
          border-color: #f44336;
          box-shadow: 0 0 0 1px #f44336;
      }
  }

  &:focus-within {
      border-color: #1976d2;
      box-shadow: 0 0 0 1px #1976d2;
  }
}
